Lecture des donnes brute

In [1]:
import pandas as pd
import numpy as np

In [2]:

tableRestaurants = pd.read_csv('restaurants.csv')
tableAvis = pd.read_csv('avis.csv')
tableCategories = pd.read_csv('categories.csv')
tableCheckin = pd.read_csv('checkin.csv')
tableHoraire = pd.read_csv('horaires.csv')
tableServices = pd.read_csv('services.csv')
tableUtilisateurs = pd.read_csv('utilisateurs.csv')

In [28]:
ownMadeTable = pd.DataFrame()
ownMadeTable['restaurant_id'] = tableRestaurants['restaurant_id']
ownMadeTable['ville'] = tableRestaurants['ville']
ownMadeTable['Qualite'] = tableRestaurants['moyenne_etoiles']

In [31]:
# Filtrer les avis avec 'etoiles' > 4 (avis positifs)
avis_filtrés = tableAvis[tableAvis['etoiles'] > 4]

# Nombre total d'avis pour chaque restaurant
avis_total = tableAvis.groupby('restaurant_id')['etoiles'].count()

# Nombre d'avis positifs pour chaque restaurant (avis avec une note > 4)
avis_count = avis_filtrés.groupby('restaurant_id')['etoiles'].count()

# Map les comptages des avis positifs et des avis totaux dans ownMadeTable
ownMadeTable['positive_review'] = ownMadeTable['restaurant_id'].map(avis_count).fillna(0)
ownMadeTable['review_count_total'] = ownMadeTable['restaurant_id'].map(avis_total).fillna(0)

# Calcul du pourcentage d'avis favorables
ownMadeTable['positive_ratio'] = round((
    ownMadeTable['positive_review'] / ownMadeTable['review_count_total'] * 100
).fillna(0)  # Remplacer les valeurs NaN par 0 (par exemple, si un restaurant n'a pas d'avis)
, 2)
# Affichage de la table mise à jour
ownMadeTable

,restaurant_id,ville,Qualite,positive_review,review_count_total,positive_ratio
0,lCwqJWMxvIUQt1Re_tDn4w,Las Vegas,2.5,14.0,72,19.44
1,pd0v6sOqpLhFJ7mkpIaixw,Phoenix,4.0,67.0,108,62.04
2,0vhi__HtC2L4-vScgDFdFw,Calgary,3.5,10.0,49,20.41
3,t65yfB9v9fqlhAkLnnUXdg,Toronto,3.5,9.0,36,25.00
4,i7_JPit-2kAbtRTLkic2jA,Toronto,4.0,26.0,88,29.55
...,...,...,...,...,...,...
34263,cjZfgcQwA6KmQ_ANWKN2aw,McMurray,3.5,2.0,6,33.33
34264,Hq2edcOTjse7wjK2CwBijQ,Pointe-Claire,3.5,3.0,11,27.27
34265,7KlpgRjjAmVabPzxcExs0g,Phoenix,4.0,4.0,11,36.36
34266,0fY-zYyP2fDmp2YXFsuNTg,Sun Prairie,4.0,10.0,18,55.56
34267,cfrN6-lQC-dzjBtNBjefpQ,Kent,2.5,1.0,3,33.33

In [32]:
restaurant_name_counts = tableRestaurants['nom'].value_counts()

# Now, create the 'is_chain' column in ownMadeTable
ownMadeTable['is_chain'] = ownMadeTable['restaurant_id'].map(
    lambda x: restaurant_name_counts[tableRestaurants.loc[tableRestaurants['restaurant_id'] == x, 'nom'].values[0]] >= 3
).fillna(False)

# Show the resulting ownMadeTable
ownMadeTable

,restaurant_id,ville,Qualite,positive_review,review_count_total,positive_ratio,is_chain
0,lCwqJWMxvIUQt1Re_tDn4w,Las Vegas,2.5,14.0,72,19.44,True
1,pd0v6sOqpLhFJ7mkpIaixw,Phoenix,4.0,67.0,108,62.04,False
2,0vhi__HtC2L4-vScgDFdFw,Calgary,3.5,10.0,49,20.41,False
3,t65yfB9v9fqlhAkLnnUXdg,Toronto,3.5,9.0,36,25.00,False
4,i7_JPit-2kAbtRTLkic2jA,Toronto,4.0,26.0,88,29.55,False
...,...,...,...,...,...,...,...
34263,cjZfgcQwA6KmQ_ANWKN2aw,McMurray,3.5,2.0,6,33.33,True
34264,Hq2edcOTjse7wjK2CwBijQ,Pointe-Claire,3.5,3.0,11,27.27,False
34265,7KlpgRjjAmVabPzxcExs0g,Phoenix,4.0,4.0,11,36.36,False
34266,0fY-zYyP2fDmp2YXFsuNTg,Sun Prairie,4.0,10.0,18,55.56,False
34267,cfrN6-lQC-dzjBtNBjefpQ,Kent,2.5,1.0,3,33.33,False

In [38]:
checkin_total = tableCheckin.groupby('restaurant_id')['restaurant_id'].count()

ownMadeTable['checkins_total'] = ownMadeTable['restaurant_id'].map(checkin_total).fillna(0)
ownMadeTable

,restaurant_id,ville,Qualite,positive_review,review_count_total,positive_ratio,is_chain,checkins_total
0,lCwqJWMxvIUQt1Re_tDn4w,Las Vegas,2.5,14.0,72,19.44,True,181.0
1,pd0v6sOqpLhFJ7mkpIaixw,Phoenix,4.0,67.0,108,62.04,False,492.0
2,0vhi__HtC2L4-vScgDFdFw,Calgary,3.5,10.0,49,20.41,False,157.0
3,t65yfB9v9fqlhAkLnnUXdg,Toronto,3.5,9.0,36,25.00,False,18.0
4,i7_JPit-2kAbtRTLkic2jA,Toronto,4.0,26.0,88,29.55,False,110.0
...,...,...,...,...,...,...,...,...
34263,cjZfgcQwA6KmQ_ANWKN2aw,McMurray,3.5,2.0,6,33.33,True,37.0
34264,Hq2edcOTjse7wjK2CwBijQ,Pointe-Claire,3.5,3.0,11,27.27,False,5.0
34265,7KlpgRjjAmVabPzxcExs0g,Phoenix,4.0,4.0,11,36.36,False,32.0
34266,0fY-zYyP2fDmp2YXFsuNTg,Sun Prairie,4.0,10.0,18,55.56,False,7.0
34267,cfrN6-lQC-dzjBtNBjefpQ,Kent,2.5,1.0,3,33.33,False,7.0

In [8]:
ownMadeTable.isna().sum()

restaurant_id    0
ville            0
Qaulite          0
avis_positive    0
dtype: int64

In [ ]:
df = tableHoraire

# Fonction pour convertir un horaire "HH:MM-HH:MM" en nombre d'heures décimales
def convert_to_hours(opening_hours):
    if not isinstance(opening_hours, str):
        return 0
    
    text = opening_hours.strip().lower()
    
    # Cas fermés
    if text in ["fermé", "closed", "na", "n/a", ""]:
        return 0
    
    # Cas 24/7
    if text in ["24/7", "24h", "24 heures", "24hrs"]:
        return 24

    total_hours = 0

    # Plusieurs créneaux séparés par virgule
    periods = text.replace(" ", "").split(',')

    for period in periods:
        try:
            start, end = period.split('-')
            start_hour, start_min = map(int, start.split(':'))
            end_hour, end_min = map(int, end.split(':'))

            start_minutes = start_hour * 60 + start_min
            end_minutes = end_hour * 60 + end_min

            # Si l'horaire dépasse minuit → ex: 20:00-02:00
            if end_minutes < start_minutes:
                end_minutes += 24 * 60

            total_hours += (end_minutes - start_minutes) / 60

        except:
            continue  # ignore les valeurs invalides

    return total_hours


# Appliquer cette fonction sur chaque jour de la semaine
for day in ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']:
    df[f'{day}_hours'] = df[day].apply(convert_to_hours)

# Calculer la moyenne des heures d'ouverture pour chaque restaurant
df['average_opening_hours'] = round(df[[f'{day}_hours' for day in ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']]].mean(axis=1))
df["average_opening_hours"] = np.floor(df["average_opening_hours"] + 0.5).astype(int)
# Afficher le résultat





averageHour = df.groupby('restaurant_id')['average_opening_hours'].mean()

ownMadeTable['average_opening_hours'] = ownMadeTable['restaurant_id'].map(averageHour).fillna(0)
ownMadeTable

                restaurant_id  average_opening_hours
0      lCwqJWMxvIUQt1Re_tDn4w                      0
1      pd0v6sOqpLhFJ7mkpIaixw                      9
2      0vhi__HtC2L4-vScgDFdFw                     10
3      t65yfB9v9fqlhAkLnnUXdg                      8
4      i7_JPit-2kAbtRTLkic2jA                      8
...                       ...                    ...
34263  cjZfgcQwA6KmQ_ANWKN2aw                      8
34264  Hq2edcOTjse7wjK2CwBijQ                     10
34265  7KlpgRjjAmVabPzxcExs0g                      0
34266  0fY-zYyP2fDmp2YXFsuNTg                      5
34267  cfrN6-lQC-dzjBtNBjefpQ                      0

[34268 rows x 2 columns]

,restaurant_id,ville,Qualite,positive_review,review_count_total,positive_ratio,is_chain,checkins_total,average_opening_hours
0,lCwqJWMxvIUQt1Re_tDn4w,Las Vegas,2.5,14.0,72,19.44,True,181.0,0.0
1,pd0v6sOqpLhFJ7mkpIaixw,Phoenix,4.0,67.0,108,62.04,False,492.0,9.0
2,0vhi__HtC2L4-vScgDFdFw,Calgary,3.5,10.0,49,20.41,False,157.0,10.0
3,t65yfB9v9fqlhAkLnnUXdg,Toronto,3.5,9.0,36,25.00,False,18.0,8.0
4,i7_JPit-2kAbtRTLkic2jA,Toronto,4.0,26.0,88,29.55,False,110.0,8.0
...,...,...,...,...,...,...,...,...,...
34263,cjZfgcQwA6KmQ_ANWKN2aw,McMurray,3.5,2.0,6,33.33,True,37.0,8.0
34264,Hq2edcOTjse7wjK2CwBijQ,Pointe-Claire,3.5,3.0,11,27.27,False,5.0,10.0
34265,7KlpgRjjAmVabPzxcExs0g,Phoenix,4.0,4.0,11,36.36,False,32.0,0.0
34266,0fY-zYyP2fDmp2YXFsuNTg,Sun Prairie,4.0,10.0,18,55.56,False,7.0,5.0
34267,cfrN6-lQC-dzjBtNBjefpQ,Kent,2.5,1.0,3,33.33,False,7.0,0.0

In [53]:
ownMadeTable['positive_review'] = ownMadeTable['positive_review'].astype(int)
ownMadeTable['checkins_total'] = ownMadeTable['checkins_total'].astype(int)
ownMadeTable['average_opening_hours'] = ownMadeTable['average_opening_hours'].astype(int)

ownMadeTable

,restaurant_id,ville,Qualite,positive_review,review_count_total,positive_ratio,is_chain,checkins_total,average_opening_hours
0,lCwqJWMxvIUQt1Re_tDn4w,Las Vegas,2.5,14,72,19.44,True,181,0
1,pd0v6sOqpLhFJ7mkpIaixw,Phoenix,4.0,67,108,62.04,False,492,9
2,0vhi__HtC2L4-vScgDFdFw,Calgary,3.5,10,49,20.41,False,157,10
3,t65yfB9v9fqlhAkLnnUXdg,Toronto,3.5,9,36,25.00,False,18,8
4,i7_JPit-2kAbtRTLkic2jA,Toronto,4.0,26,88,29.55,False,110,8
...,...,...,...,...,...,...,...,...,...
34263,cjZfgcQwA6KmQ_ANWKN2aw,McMurray,3.5,2,6,33.33,True,37,8
34264,Hq2edcOTjse7wjK2CwBijQ,Pointe-Claire,3.5,3,11,27.27,False,5,10
34265,7KlpgRjjAmVabPzxcExs0g,Phoenix,4.0,4,11,36.36,False,32,0
34266,0fY-zYyP2fDmp2YXFsuNTg,Sun Prairie,4.0,10,18,55.56,False,7,5
34267,cfrN6-lQC-dzjBtNBjefpQ,Kent,2.5,1,3,33.33,False,7,0

In [63]:
elite_users = tableUtilisateurs[tableUtilisateurs['elite'] == 1][['utilisateur_id']]


avis_elite = tableAvis[tableAvis['utilisateur_id'].isin(elite_users['utilisateur_id'])]


nb_elite_par_restaurant = avis_elite.groupby('restaurant_id')['utilisateur_id'].nunique().reset_index()


nb_elite_par_restaurant = nb_elite_par_restaurant.rename(columns={'utilisateur_id': 'nb_elite_users'})



elite_series = nb_elite_par_restaurant.set_index('restaurant_id')['nb_elite_users']

# Mapper correctement sur ownMadeTable
ownMadeTable['elite_users_count'] = ownMadeTable['restaurant_id'].map(elite_series).fillna(0).astype(int)

ownMadeTable

,restaurant_id,ville,Qualite,positive_review,review_count_total,positive_ratio,is_chain,checkins_total,average_opening_hours,elite_users_count
0,lCwqJWMxvIUQt1Re_tDn4w,Las Vegas,2.5,14,72,19.44,True,181,0,6
1,pd0v6sOqpLhFJ7mkpIaixw,Phoenix,4.0,67,108,62.04,False,492,9,23
2,0vhi__HtC2L4-vScgDFdFw,Calgary,3.5,10,49,20.41,False,157,10,26
3,t65yfB9v9fqlhAkLnnUXdg,Toronto,3.5,9,36,25.00,False,18,8,3
4,i7_JPit-2kAbtRTLkic2jA,Toronto,4.0,26,88,29.55,False,110,8,36
...,...,...,...,...,...,...,...,...,...,...
34263,cjZfgcQwA6KmQ_ANWKN2aw,McMurray,3.5,2,6,33.33,True,37,8,1
34264,Hq2edcOTjse7wjK2CwBijQ,Pointe-Claire,3.5,3,11,27.27,False,5,10,0
34265,7KlpgRjjAmVabPzxcExs0g,Phoenix,4.0,4,11,36.36,False,32,0,1
34266,0fY-zYyP2fDmp2YXFsuNTg,Sun Prairie,4.0,10,18,55.56,False,7,5,1
34267,cfrN6-lQC-dzjBtNBjefpQ,Kent,2.5,1,3,33.33,False,7,0,0