Lecture des donnes brute

In [1]:
import pandas as pd
import numpy as np

In [3]:

tableRestaurants = pd.read_csv('restaurants.csv')
tableAvis = pd.read_csv('avis.csv')
tableCategories = pd.read_csv('categories.csv')
tableCheckin = pd.read_csv('checkin.csv')
tableHoraire = pd.read_csv('horaires.csv')
tableServices = pd.read_csv('services.csv')
tableUtilisateurs = pd.read_csv('utilisateurs.csv')

In [4]:
ownMadeTable = pd.DataFrame()
ownMadeTable['restaurant_id'] = tableRestaurants['restaurant_id']
ownMadeTable['ville'] = tableRestaurants['ville']
ownMadeTable['Qaulite'] = tableRestaurants['moyenne_etoiles']

In [5]:
avis_filtrés = tableAvis[tableAvis['etoiles'] > 4]
avis_count = avis_filtrés.groupby('restaurant_id')['etoiles'].count()



ownMadeTable['avis_positive'] = ownMadeTable['restaurant_id'].map(avis_count).fillna(0)

ownMadeTable

                restaurant_id          ville  Qaulite  avis_positive
0      lCwqJWMxvIUQt1Re_tDn4w      Las Vegas      2.5           14.0
1      pd0v6sOqpLhFJ7mkpIaixw        Phoenix      4.0           67.0
2      0vhi__HtC2L4-vScgDFdFw        Calgary      3.5           10.0
3      t65yfB9v9fqlhAkLnnUXdg        Toronto      3.5            9.0
4      i7_JPit-2kAbtRTLkic2jA        Toronto      4.0           26.0
...                       ...            ...      ...            ...
34263  cjZfgcQwA6KmQ_ANWKN2aw       McMurray      3.5            2.0
34264  Hq2edcOTjse7wjK2CwBijQ  Pointe-Claire      3.5            3.0
34265  7KlpgRjjAmVabPzxcExs0g        Phoenix      4.0            4.0
34266  0fY-zYyP2fDmp2YXFsuNTg    Sun Prairie      4.0           10.0
34267  cfrN6-lQC-dzjBtNBjefpQ           Kent      2.5            1.0

[34268 rows x 4 columns]

In [6]:
restaurant_name_counts = tableRestaurants['nom'].value_counts()


ownMadeTable['count_nom_restaurant'] = ownMadeTable['restaurant_id'].map(
    lambda x: restaurant_name_counts[tableRestaurants.loc[tableRestaurants['restaurant_id'] == x, 'nom'].values[0]]
).fillna(0)

ownMadeTable

,restaurant_id,ville,Qaulite,avis_positive,count_nom_restaurant
0,lCwqJWMxvIUQt1Re_tDn4w,Las Vegas,2.5,14.0,50
1,pd0v6sOqpLhFJ7mkpIaixw,Phoenix,4.0,67.0,2
2,0vhi__HtC2L4-vScgDFdFw,Calgary,3.5,10.0,1
3,t65yfB9v9fqlhAkLnnUXdg,Toronto,3.5,9.0,1
4,i7_JPit-2kAbtRTLkic2jA,Toronto,4.0,26.0,2
...,...,...,...,...,...
34263,cjZfgcQwA6KmQ_ANWKN2aw,McMurray,3.5,2.0,26
34264,Hq2edcOTjse7wjK2CwBijQ,Pointe-Claire,3.5,3.0,1
34265,7KlpgRjjAmVabPzxcExs0g,Phoenix,4.0,4.0,1
34266,0fY-zYyP2fDmp2YXFsuNTg,Sun Prairie,4.0,10.0,1
34267,cfrN6-lQC-dzjBtNBjefpQ,Kent,2.5,1.0,1